<div class="panel panel-primary">
  <div class="panel-heading">
    <h2 class="panel-title text-center">Dashboard</h2>
  </div>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col" class="text-center">Total Products</th>
          <th scope="col" class="text-center">Total Categories</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="row" class="text-center"><%= link_to @products.count, admin_products_path %></td>
          <td scope="row" class="text-center"><%= link_to @categories.count, admin_categories_path %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

