<tr>
  <td class="text-center">
    <%= category.id %>
  </td>
  <td class="text-center">
    <%= link_to category.name, category %>
  </td>
  <td class="text-center">
    <%= category.products.count %>
  </td>
</tr>